.showcase{
    background-color: $color-gray-3;

    .row{
        .headings{

            h1{
                color: $color-theme-dark;
                font-family: $font-play;
                font-size: $font-size-60;

                @include lg{
                    font-size: $font-size-36;

                }
            }

            strong{
                color: $color-theme;
                font-weight: $font-weight-bold;
            }

            p{
                color: $color-theme-dark;

                @include lg{
                    font-size: $font-size-14;

                }

                @include md{
                    display: none;

                }
            }

            .btn{
                @include button($bg-color: $color-white, $color: $color-theme, $bg-hover: $color-theme-dark, $color-hover: $color-white);
            }

            @include sm{
                align-items: center;
            }
        }

        .image{
            @include sm{
                display: none;
            }
        }
    }
}