html, body{
    font-family: $font-roboto;
    line-height: 1.5;
    font-size: 16px;
    font-weight: $font-weight-regular;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--color-theme);
}

.instock{
    color: $color-prod-instock;
}

.outofstock{
    color: $color-prod-outofstock;
}